body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  display: block;
}

header {
  position: relative;
  width: 100%;
  height: 228px;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border-top: 20px solid rgb(0, 0, 0);
  font-family: 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
}

.logo {
  display: block;
  position: absolute;
  top: 5px;
  left: 150px;
  height: 200px;
  width: 360px;
}

.edition-btn {
  position: absolute;
  top: 55px;
  right: 100px;
  color: #ee0000;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
  box-sizing: border-box;
  padding: 18px 48px 18px 24px;
  border-style: none;
}

.edition-btn :hover {
  background-color: #ee0000;
  opacity: 0.5;
}

.edition-btn span {
  color: #b5b6b8;
}

.nav-ver {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  height: 58px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.nav-ver li {
  position: absolute;
  top: 13px;
  left: 150px;
  display: flex;
  list-style: none;
}

.nav-ver li a {
  font-family: 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
  text-decoration: none;
  font-size: 14px;
  margin: 0px 24px 0px 0px;
  padding: 8px 0px;
  color: #2d2e2f;
  font-weight: bold;
}

menu {
  position: absolute;
  top: 0px;
  right: 150px;
  display: flex;
  height: 58px;
  padding: 0%;
  margin: 0%;
}

.menu1 {
  padding: 20px 16px 22px 16px;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  text-decoration: none;
  color: #2d2e2f;
  font-weight: bold;
  font-size: 14px;
}

.menu-btn {
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  padding: 20px 20px 22px 16px;
  margin: 0;
}

.menu-btn :hover {
  background-color: #ee0000;
  color: #ffff;
}

.column {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  border-bottom: 1px solid black;
}

section {
  border: 1px solid black;
  display: block;
  height: 1000px;
}

section h2 {
  font-family: YakuHanJP, DomaineDisplay, 'Yu Mincho', YuMincho, 'Hiragino Minchō Pro', 'Noto Serif CJK JP', serif;
  font-size: 60px;
  letter-spacing: -0.05em;
  border-top: 8px solid black;
  position: absolute;
  left: 150px;
  margin: 0 3px 40px 3px;
  display: inline-block;
}

.item-contarner {
  display: flex;
  z-index: 1;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  margin-top: 140px;
  max-height: 100%;
}
.item {
  width: 18%;
  margin: 16px;
  z-index: 2;
}

.item1 {
  position: relative;
  height: 537px;
}

.item2 {
  position: relative;
  height: 352px;
}

.item img {
  z-index: 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item1 .text-block {
  position: absolute;
  top: 500px;
  left: 30px;
  padding: 20px;
  background-color: #ffff;
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
}

.item2 .text-block {
  position: absolute;
  top: 300px;
  left: 30px;
  padding: 20px;
  background-color: #ffff;
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
}

.text-block p {
  margin-top: 5px;
  font-size: 10px;
}

.text-block h3 {
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
}

.fashion-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fashion-item {
  position: sticky;
  top: 0;
  margin: 130px 5px 50px 5px;
  width: 36%;
  height: 100vh;
}

.scroll-item {
  margin: 130px 5px 50px 5px;
  width: 22%;
  height: 100%;
  display: block;
}

.scroll-item p {
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
  font-size: 12px;
  margin: 0;
}

.scroll-item h3 {
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
  font-size: 20px;
  margin: 0;
}

.scroll-inner1 {
  position: relative;
  margin-right: 10px;
  width: 100%;
  height: 420px;
}
.scroll-inner2 {
  position: relative;
  width: 100%;
  height: 660px;
}

.scroll-inner1 img {
  object-fit: cover;
  height: 60%;
  width: 100%;
}

.scroll-inner2 img {
  object-fit: cover;
  height: 80%;
  width: 100%;
}

.scroll-inner3 img {
  object-fit: cover;
  height: 60%;
  width: 100%;
}

.scroll-text-block1 {
  background-color: #ffff;
  position: absolute;
  top: 230px;
  left: 20px;
  padding: 12px;
}

.scroll-text-block2 {
  background-color: #ffff;
  position: absolute;
  top: 470px;
  left: 20px;
  padding: 12px;
}

.scroll-text-block3 {
  background-color: #ffff;
  position: absolute;
  top: 420px;
  left: 20px;
  padding: 12px;
}

.fashion-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fashion-textbox {
  position: absolute;
  bottom: 0;
  padding: 15px;
  line-height: 4.5em;
}

.fashion-textbox p {
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
  color: #ffff;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.12em;
}

.fashion-textbox h1 {
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
  color: #ffff;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.scroll-section {
  height: 1700px;
}

.scroll-section2 {
  height: 2400px;
}

.commercial-box {
  display: block;
  background-color: blue;
  color: #ffff;
  text-align: center;
  margin: 10px 0;
  width: 100%;
  height: 580px;
}

.commercial-box h1 {
  font-size: 50px;
  margin: 0;
}

.commercial-btn {
  font-weight: bold;
  margin-top: 330px;
  width: 200px;
  height: 50px;
}

.special-section {
  position: relative;
  display: block;
  height: 1150px;
}

.special-section img {
  position: absolute;
  top: 180px;
  left: 150px;
}

.special-text {
  position: absolute;
  top: 880px;
  left: 280px;
  padding: 20px 0 5px 20px;
  border-left: 1px solid black;
}

.special-text p {
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
  letter-spacing: 0.2em;
  font-size: 15px;
  padding: 0;
}

.special-text h3 {
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
  font-size: 50px;
  margin: 0;
}

footer {
  position: relative;
  height: 850px;
  background-color: #2d2e2f;
}

.footer-editionber {
  display: flex;
  height: 60px;
  width: 100%;
}

.footer-editionber p {
  text-align: center;
  margin-left: auto;
  padding: 6px 10px;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
  color: #7f8184;
}
.footer-editionber button {
  position: relative;
  display: flex;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  margin-right: 100px;
  padding: 18px 48px 18px 24px;
  border: none;
  background-color: #ee0000;
  color: #ffff;
  letter-spacing: 0.1em;
  font-family: YakuHanJP, 'Yu Gothic', YuGothic, 'Hiragino Sans', 'Noto Sans CJK JP', sans-serif;
}

.footer-editionber button i {
  position: absolute;
  top: 17px;
  right: 20px;
}

.footer-logo {
  height: 200px;
  width: 948px;
}
.footer-logo-ber {
  position: relative;
  background-color: #242526;
  height: 200px;
}

.footer-logo-ber ul {
  position: absolute;
  top: 50px;
  right: 40px;
  display: flex;
}

.footer-logo-ber ul a {
  position: relative;
  margin-right: 14px;
  width: 60px;
  height: 60px;
  border: 2px solid #ffff;
  border-radius: 60px;
}

.icon {
  color: #ffff;
  position: absolute;
  top: 10px;
  left: 15px;
}

.end-role {
  display: block;
  height: 180px;
  width: 1300px;
}

.end-role h4 {
  text-align: center;
  margin-bottom: 0;
  font-size: 30px;
  color: #ffff;
}

.end-role p {
  font-size: 8px;
  text-align: center;
  color: #ffff;
  margin: 40px 0;
}

.japan {
  font-size: 3px;
  margin: 0;
}

.end-role ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 30px 0;
}

.end-role li {
  font-size: 15px;
  margin: 6px 12px;
  color: #ffff;
}
